<a href="https://colab.research.google.com/github/yovngburgos/examenEstadistica/blob/main/Laboratorio_4_Medidas_de_Tendencia_Central_y_Percentiles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Medidas de Tendencia Central y Percentiles

## Objetivo:

Aplicar las medidas de tendencia central (media, mediana y moda) y medidas de posici√≥n no central (percentiles) en el an√°lisis de datos, utilizando Python como herramienta de apoyo.

*Nota: Este laboratorio est√° dise√±ado para desarrollar razonamiento estad√≠stico. Evita el uso de herramientas de IA para responder las preguntas a menos que esto sea expl√≠citamente sugerido* ü§ñ. *En su lugar, enf√≥cate en aplicar los conceptos revisados.*

## Actividad 1

Imagina que trabajas como analista de datos en una consultora de orientaci√≥n vocacional que asesora a estudiantes de ense√±anza media sobre qu√© carrera elegir. Recibes una base de datos con informaci√≥n de carreras t√©cnicas y profesionales de distintas instituciones chilenas de los a√±os 2024 y 2025. Tu misi√≥n es analizar los ingresos y empleabilidad de los titulados, y entregar conclusiones claras que ayuden a tomar decisiones.

**Utiliza la siguiente base de datos para responder las actividades 1, 2 y 3.**

Descarga la base de datos **<a href="https://docs.google.com/spreadsheets/d/1JmPTeHd5mzM4V8A2yLz0Jhwt6MDmmaxf/export?format=xlsx
">aqu√≠</a>**.

In [ ]:
import pandas as pd
pd.options.display.float_format='{:,.2f}'.format

base_datos=pd.read_excel('Actividad_1_2_3.xlsx')

In [ ]:
#Tama√±o base de datos:
base_datos.shape[0]

1163

In [ ]:
base_datos.head(3)

,C√≥digo,Tipo de instituci√≥n,Acreditaci√≥n instituci√≥n (a√±os),√Årea,Nombre carrera gen√©rica,Duraci√≥n Real (semestres),Empleabilidad 1er a√±o (%),Ingreso al 4¬∞ a√±o (pesos)
0,456,Centros de Formaci√≥n T√©cnica,5,Tecnolog√≠a,T√©cnico en Electricidad y Electricidad Industrial,6.54,76.62,1150000
1,456,Centros de Formaci√≥n T√©cnica,5,Salud,T√©cnico en Enfermer√≠a,6.28,62.50,750000
2,456,Centros de Formaci√≥n T√©cnica,5,Ciencias B√°sicas,T√©cnico en Geominer√≠a,7.91,61.63,1150000

1. Identifica la poblaci√≥n y muestra del estudio.

**Poblaci√≥n:** carreras t√©cnicas y profesionales de distintas instituciones chilenas de los a√±os 2024 y 2025

**Muestra:** 1163 carreras t√©cnicas y profesionales de distintas instituciones chilenas de los a√±os 2024 y 2025

2. Clasifica las variables presentes en la base de datos.

Tipo de instituci√≥n:Cualitativa nominal

Acreditaci√≥n: Cuantitativa discreta

√Årea: Cualitativa nominal

Nombre Carrera: Cualitativa nominal

Duraci√≥n real: Cuantitativa continua

Empleabilidad 1er a√±o: Cuantitativa continua

Ingreso al 4to a√±o: Cuantitativa continua

3. ¬øCu√°l es el ingreso promedio de los titulados? ¬øY la mediana? ¬øQu√© puedes concluir de la diferencia entre ambos?

In [ ]:
base_datos['Ingreso al 4¬∞ a√±o (pesos)'].mean()

np.float64(1307480.653482373)

In [ ]:
base_datos['Ingreso al 4¬∞ a√±o (pesos)'].median()

1150000.0

El ingreso promedio es de \$1307480 aprox. y su mediana es de \$1150000.

4. ¬øCu√°l es la moda de los ingresos? Interpr√©tala.

In [ ]:
base_datos['Ingreso al 4¬∞ a√±o (pesos)'].mode()

0    1050000
Name: Ingreso al 4¬∞ a√±o (pesos), dtype: int64

**Resuesta:** El sueldo m√°s frecuente es de \$1050000

5. Calcula los percentiles 25, 50 y 75 del ingreso de los titulados e interpr√©talos.

In [ ]:
print(f'Percentil 25={base_datos['Ingreso al 4¬∞ a√±o (pesos)'].quantile(0.25)}')
print(f'Percentil 50={base_datos['Ingreso al 4¬∞ a√±o (pesos)'].quantile(0.5)}')
print(f'Percentil 75={base_datos['Ingreso al 4¬∞ a√±o (pesos)'].quantile(0.75)}')

Percentil 25=950000.0
Percentil 50=1150000.0
Percentil 75=1550000.0

**Interpretaciones:**

**Percentil 25:** El 25% de los ingresos de los titulados no superan los 950000 pesos

**Percentil 75:** El 75% de los ingresos de los titulados no superan los 1550000 pesos

**Percentil 50:** El 50% de los ingresos de los titulados no superan los 1150000 pesos

6. Utiliza la funci√≥n *describe()* de Pandas para validar tus resultados.

In [ ]:
base_datos['Ingreso al 4¬∞ a√±o (pesos)'].describe()

count       1,163.00
mean    1,307,480.65
std       506,349.46
min       550,000.00
25%       950,000.00
50%     1,150,000.00
75%     1,550,000.00
max     3,000,000.00
Name: Ingreso al 4¬∞ a√±o (pesos), dtype: float64

7. Considera que tres personas desean estudiar T√©cnico en enfermer√≠a, pero cada una valora cosas distintas:
* Sof√≠a busca maximizar su ingreso futuro.
* Diego prioriza encontrar trabajo r√°pidamente.
* Camila quiere un equilibrio entre ambas.

$\hspace{1cm}$Considerando la media como medida representativa, ¬øqu√© tipo de instituci√≥n recomendar√≠as a cada uno y por qu√©?

In [ ]:
#Para Sof√≠a:
base_datos[base_datos["Nombre carrera gen√©rica"] == "T√©cnico en Enfermer√≠a"].groupby("Tipo de instituci√≥n")["Ingreso al 4¬∞ a√±o (pesos)"].mean()

Tipo de instituci√≥n
Centros de Formaci√≥n T√©cnica   740,909.09
Insitutos Profesionales        750,000.00
Universidades                  790,000.00
Name: Ingreso al 4¬∞ a√±o (pesos), dtype: float64

**Respuesta:** A sof√≠a se le recomienda ingresar a una Universidad pues su sueldo promedio es el mayor.

In [ ]:
#Para Diego:
base_datos[base_datos["Nombre carrera gen√©rica"] == "T√©cnico en Enfermer√≠a"].groupby("Tipo de instituci√≥n")["Empleabilidad 1er a√±o (%)"].mean()

Tipo de instituci√≥n
Centros de Formaci√≥n T√©cnica   63.98
Insitutos Profesionales        66.85
Universidades                  65.05
Name: Empleabilidad 1er a√±o (%), dtype: float64

**Respuesta:** A Diego le conviene un IP pues tiene mayor promedio de empleabilidad.

**Respuesta:** En el caso de Camila, elegir IP o Universidad puede ser buena opci√≥n pues en ambos casos tienen buen ingreso promedio y tambien buena empleabilidad.

## Actividad 2

Un grupo de estudiantes est√° evaluando si el nivel de acreditaci√≥n de una instituci√≥n podr√≠a impactar sus resultados laborales. Para responder esta pregunta, realiza el siguiente an√°lisis:

**Utiliza la siguiente base de datos para responder las actividades 1, 2 y 3.**

Descarga la base de datos **<a href="https://docs.google.com/spreadsheets/d/1JmPTeHd5mzM4V8A2yLz0Jhwt6MDmmaxf/export?format=xlsx
">aqu√≠</a>**.

1. Agrupa los datos por a√±os de acreditaci√≥n y calcula la media y la mediana del ingreso al 4to a√±o de cada grupo.

In [ ]:
base_datos.groupby('Acreditaci√≥n instituci√≥n (a√±os)')['Ingreso al 4¬∞ a√±o (pesos)'].mean()

Acreditaci√≥n instituci√≥n (a√±os)
0   1,024,666.67
3   1,313,043.48
4   1,153,020.13
5   1,192,729.59
6   1,541,260.16
7   1,421,043.17
Name: Ingreso al 4¬∞ a√±o (pesos), dtype: float64

In [ ]:
base_datos.groupby('Acreditaci√≥n instituci√≥n (a√±os)')['Ingreso al 4¬∞ a√±o (pesos)'].median()

Acreditaci√≥n instituci√≥n (a√±os)
0     950,000.00
3   1,150,000.00
4   1,050,000.00
5   1,050,000.00
6   1,450,000.00
7   1,250,000.00
Name: Ingreso al 4¬∞ a√±o (pesos), dtype: float64

2. ¬øExiste una relaci√≥n aparente entre la cantidad de a√±os de acreditaci√≥n y el ingreso promedio? ¬øQu√© patr√≥n observas?

Podemos destacar que con 6 a√±os de acreditaci√≥n el ingreso promedio es el mayor.
Tambien se destaca que el 3er promedio m√°s alto es con 3 a√±os de acreditaci√≥n.

3. ¬øSe observa una tendencia similar al analizar la empleabilidad al primer a√±o?

In [ ]:
base_datos.groupby('Acreditaci√≥n instituci√≥n (a√±os)')['Empleabilidad 1er a√±o (%)'].mean()

Acreditaci√≥n instituci√≥n (a√±os)
0   63.92
3   69.28
4   63.34
5   63.65
6   71.26
7   71.73
Name: Empleabilidad 1er a√±o (%), dtype: float64

In [ ]:
base_datos.groupby('Acreditaci√≥n instituci√≥n (a√±os)')['Empleabilidad 1er a√±o (%)'].median()

Acreditaci√≥n instituci√≥n (a√±os)
0   69.40
3   69.05
4   65.00
5   65.60
6   73.99
7   74.25
Name: Empleabilidad 1er a√±o (%), dtype: float64

La tendencia es similar a lo que ocurre con el ingreso promedio y su mediana, salvo que la mayor empleabilidad (promedio y mediana) se obtiene con 7 a√±os de acreditaci√≥n. En esta variable si podemos decir que "a mayor acreditaci√≥n, mayor ser√° la emplebilidad"

4. Comparando las variables ingreso y empleabilidad, analiza c√≥mo var√≠an la media y la mediana en cada caso. ¬øQu√© conclusiones generales puedes extraer sobre la representatividad de estas medidas?

5. Teniendo en cuenta tu an√°lisis sobre c√≥mo var√≠an los ingresos y la empleabilidad con los a√±os de acreditaci√≥n, ¬øqu√© consejo le dar√≠as a un estudiante que va a elegir una instituci√≥n bas√°ndose √∫nicamente en el nivel de acreditaci√≥n? Justifica tu recomendaci√≥n.

## Actividad 3

Imagina que trabajas como analista del Ministerio de Educaci√≥n. Te han solicitado caracterizar los resultados laborales de los titulados por √°rea de formaci√≥n utilizando una base de datos con informaci√≥n de carreras t√©cnicas y profesionales de distintas instituciones chilenas de los a√±os 2024 y 2025.

**Utiliza la siguiente base de datos para responder las actividades 1, 2 y 3.**

Descarga la base de datos **<a href="https://docs.google.com/spreadsheets/d/1JmPTeHd5mzM4V8A2yLz0Jhwt6MDmmaxf/export?format=xlsx
">aqu√≠</a>**.

1. ¬øCu√°l √Årea se observa con mayor frecuencia entre los titulados?

2. ¬øEntre qu√© sueldos se encuentran los egresados del 10% m√°s alto al 4to a√±o de titulaci√≥n?

3. ¬øEntre qu√© sueldos se encuentran los egresados del 17% m√°s bajo al 4to a√±o de titulaci√≥n?

4. Agrupa los datos por √Årea y para cada grupo calcula las siguientes medidas del Ingreso al 4¬∞ a√±o:
* Media
* Mediana
* Percentil 25
* Percentil 75

$\hspace{1cm}$Luego, construye un DataFrame que re√∫na estas cuatro columnas.

5. Interpreta las medidas calculadas para el √°rea de Agropecuaria y Tecnolog√≠a.

6. Considerando las medidas calculadas, para el an√°lisis del √Årea de Salud, ¬øqu√© medida considerar√≠as m√°s representativa? Comenta con tus compa√±eros.

7. Compara la media del ingreso al 4to a√±o de titulaci√≥n, por √Årea y por Tipo de instituci√≥n. ¬øQu√© conclusiones puedes extraer acerca del impacto del tipo de instituci√≥n en el ingreso seg√∫n √°rea?

*Sugerencia: Puedes crear una tabla bivariada utilizando la funci√≥n crosstab() de Pandas*.

## Actividad 4

La siguiente base de datos posee los registros de todas las calificaciones obtenidas por los alumnos del segundo semestre del 2019, jornada diurna en la asignatura de √Ålgebra.

Para responder las siguientes preguntas, descarga la base de datos **<a href="https://drive.google.com/uc?export=download&id=1cD6GAWUzR2G8eHEEnfPHIuzKIZtHcSf7
">aqu√≠</a>**.

1. ¬øCu√°l es la poblaci√≥n en estudio?

2. ¬øCu√°l es la muestra en estudio?

3.  Identifique y clasifique las variables involucradas en el estudio.

4. Calcule e interprete las medidas de tendencia central de las notas del examen.

5. ¬øEntre qu√© valores se encuentra el 60% de las notas m√°s bajas en la prueba 1?

6.  La instituci√≥n de educaci√≥n crear√° cursos de reforzamiento para todos los estudiantes cuyas calificaciones en la Prueba 2, est√©n en el 25% m√°s bajo. ¬øCu√°l es la nota m√°s alta dentro de este grupo que va a reforzamiento?

7. ¬øCu√°l es la nota m√°s baja entre el 30% de mejores notas del examen?

8. Si se desea reevaluar al 10% m√°s bajo en el examen, ¬øcu√°l es rango de notas que se debe considerar?

9. Si la instituci√≥n va a premiar al 5% de las mejores notas finales, ¬øcu√°l es la nota m√°s baja registrada por ese grupo?